*{
    margin:0 0;
    padding:0 0;
    outline: none;
    font-family: 'Microsoft YaHei', 宋体, 'Myriad Pro', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a{
    color: black;
}
a:link{
    text-decoration: none;
}

.contain{
    width: 960px;
    margin:0 auto;
}
body{
    background: #e7e7e7;
    padding-bottom: 100px;
}
header{
    margin-top: 50px;
}
nav{
    position: relative;
    z-index: 2;
    display: block;
    width: 960px;
    margin:0 auto;
    padding:0 20px;
}
header ul,header ul li{
    display: inline-block;
    *display: inline;
}

header ul{
    margin-left: 30px;
}

header ul>li{
    font-size: 24px;
    margin:0 20px;
    padding:5px 10px;
    border: 1px solid rgba(0,0,0,0);
}
header ul>li a{
    color: white;
}
header ul>li a:visited{
    color: white;
}
header ul>li a:hover{
    color: white;
}
header ul>li a:active{
    color: white;
}
header li:hover{
    border: 1px solid white;
}
.nav-active{
    border-color: white;
}
#myCarousel{
    margin-top: -156px;
}
.index-title{
    text-align: center;
    font-size: 34px;
    margin:80px 0;
}
.index-title::before{
    content: "";
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    width: 60px;
    height: 4px;
    margin:0 15px;
    background: rgb(193,25,32);
}
.index-title::after{
    content: "";
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    width: 60px;
    height: 4px;
    margin:0 15px;
    background: rgb(193,25,32);
}
.cehua-ul{
    width: 100%;
}
.cehua-li{
    display: inline-block;
    *display: inline;
    box-sizing: border-box;
    width: 33.333%;
    margin-right: -4px;
    text-align: center;
    padding:0 3px;
}
.cehua-li .cehua-title{
    margin-bottom: 50px;
    color: #7e7e7e;
}
.cehua-li .cehua-title:hover{
    color: black;
}
.cehua-context{
    background: white;
    padding-bottom: 20px;

}
.cehua-context img{
    width: 100%;
    height: 177px;
}
.cehua-context h3{
    font-size: 24px;
    padding:0 10px;
    text-align: left;
}
.cehua-context p{
    font-size: 20px;
    padding:0 10px;
    color: #7e7e7e;
    text-align: left;
}
.more{
    background: none;
    padding:3px 15px;
    border: 2px solid rgb(193,25,32);
}
#duomeitiCarousel .carousel-inner{
    width: 840px;
    margin:0 auto;
}

.lunbo-btn-left, .lunbo-btn-right {
    position: absolute;
    width: 80px;
    height: 150px;
    font-size: 120px;
    color: #ccc;
    text-align: center;
    cursor: pointer;
    background: none !important;
}

.lunbo-btn-left:hover, .lunbo-btn-right:hover {

    opacity: 0.8;
    filter: alpha(opacity=80);

}

.lunbo-btn-left {
    top: 60px;
    left: 0;
}

.lunbo-btn-right {
    top: 60px;
    right: 0;
}
.card{
    box-sizing: border-box;
    display: inline-block;
    *display: inline;
    width: 32%;
    margin:10px 3px;
    padding:0 0 10px 0;
    background: white;
    text-align: center;
    box-shadow: 5px 5px 5px #666;
}
.card img{
    width: 100%;
    height: 185px;
}
.card h2{
    font-size: 22px;
    margin:20px;
}
.duomeiti-bg{
    padding:100px 0;
    background: url("../images/bg1.jpg") no-repeat;
    background-size: 100%;
}
.hezuo .hezuo-card{
    display: inline-block;
    *display: inline;
    box-sizing: border-box;
    margin:3px;
    width: 48%;
    height: 285px;
    background: white;
    vertical-align: top;
    text-align: center;
}
.hezuo-card img{
    width: 100%;
    height: 285px;
}
.hezuo-card h3{
    font-size: 20px;
    padding:20px 0 10px 20px;
}
.hezuo-card p{
    font-size: 18px;
    line-height: 25px;
    color:#888;
    padding:0px 10px 20px 20px;
    height: 150px;
    overflow: hidden;
    text-align: left;
}
.videobg img{
    width: 100%;
}
.video-area{
    position: relative;
    height: 540px;
    margin-top:-450px;
}
.video-ctrl{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 540px;
}
.aboutcard{
    display: inline-block;
    *display: inline;
    box-sizing: border-box;
    width: 32%;
    padding:50px 20px;
    margin:0 5px;
    text-align: center;
    background: white;
    vertical-align: bottom;
}
.aboutcard p{
    text-align: left;
    height: 80px;
}
.aboutcard p.tel{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.item-list{
    margin:50px 0;
}
.item-title{
    font-size: 30px;
    color: #7e7e7e;
    margin-bottom: 20px;
}
.item-title:hover{
    color: black;
}
.item-title::before{
    content: "";
    display: inline-block;
    *display: inline;
    width: 12px;
    height: 4px;
    vertical-align: middle;
    background: #c11920;
    margin-right: 10px;
}
.item-title::after{
    content: url("../images/more.png");
    height: 100%;
    float: right;
}
.item-card{
    display: inline-block;
    *display: inline;
    width: 32%;
    margin: 0 5px;
    background: white;
    height: 390px;
}
.item-card img{
    width: 100%;
    height: 183px;
}
.item-card h3{
    font-size: 20px;
    padding:10px;
    font-weight: 700;
}
.item-card p{
    font-size: 16px;
    padding:0 10px;
    color:#7e7e7e;
}
.article-list-title{
    font-size: 30px;
    color: #7e7e7e;
    padding:20px 0;
}
.article-list-title::after{
    content: "";
    display: inline-block;
    *display:inline;
    width: 840px;
    height: 1px;
    background: #c11920;
    vertical-align: middle;
}
.article-list-item{
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
.article-list-item img{
    width: 45%;
    height: 255px;
}
.article{
    float: right;
    width: 50%;
    padding:15px 10px;
}
.article h2{
    font-size: 25px;
}
.article p{
    font-size: 20px;
    color: #7e7e7e;
}
.article-title{
    font-size: 25px;
    margin: 20px 0;
}
.article-content{
    font-size: 20px;
    color: #7e7e7e;
    margin-bottom: 15px;
}
.article-contain img{
    width: 100%;
    max-width: 100%;
    margin:5px 0;
}